@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2{
    font-family: 'young serif', serif;
}

h3{
  font-family: 'lora', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
}




















