@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2{
    font-family: 'young serif', serif;
}

h3{
  font-family: 'lora', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    font-size: 25px;
    color: #fff;
}

.links a:hover{
    background-color: black;
}

.header{
    background-color: #1f2937;  
}

.nav-bar{
   
    background-color: rgb(245, 59, 59);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.links{
    justify-content: space-between;
    margin-right: 20px;
    font-size: 50px;
}

.nav-bar img{
    padding: 10px;
    border-radius: 40px;
    box-shadow: 2px 3px 2px 3px black;
}

/*End nav*/

.container-two{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
}
.container-two h1{
    font-size: 60px;
    text-shadow: 6px 4px 5px red;
}

.container-two p{
    margin-left: 30px;
    font-size: 18px;
    color: #fff;
}

.container-two img{
    border-radius: 50px;
    box-shadow: 6px 7px 4px 9px #65cfd6;
}


.signup{
    font-size: 30px;
    margin-top: 50px;
    margin-left: 135px;
    border: 15px groove black;
    border-radius: 10px;
}

.signup:hover{
    background-color: rgb(194, 13, 13);
    color: white;
}

  /*End of the head section*/

.image-container{
    background-color: black;
}

.image-container h2{
    text-align: center;
    font-size: 40px;
    padding: 40px;
    text-shadow: 6px 4px 5px white;
    background-color: dimgray;
}

.row1{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.row1 p{
    margin: 40px;
}
 
.row1 h3{
    margin: 20px;
    font-size: 30px;
    text-shadow: 6px 4px 5px red;
    text-align: center;
}


.img1{
    border: 5px solid crimson;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: #fff;
}

.img2{
    border: 5px solid crimson;
    border-radius: 10px;
    justify-content: space-around;
    text-align: center;
    background-color: black;
    color: #fff;
}

.row2{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
}

.row2 p{
    margin: 40px;
}
 
.row2 h3{
    margin: 20px;
    font-size: 30px;
    text-shadow: 6px 4px 5px crimson;
    text-align: center;
}


.img3{
    border: 5px solid crimson;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: #fff;
}

.img4{
    border: 5px solid crimson;
    border-radius: 10px;
    justify-content: space-around;
    text-align: center;
    background-color: black;
    color: #fff;
}
























































